# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/venv/
venv/
ENV/
env/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Node
frontend/node_modules/
node_modules/
npm-debug.log
yarn-error.log
frontend/dist/
dist/
.DS_Store

# YOLO models
*.pt
